<div class="row">
  <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 twitter-profile">
    <h1>Summary Dashboard</h1>
    <div class="row">
      <div class="col-md-12 col-sm-12 widget twitter-profile">
        <div class="twitter-profile-card">
          <div class="twitter-text">
            <h1 class="name"><%= @scan.twitter_detail.name%></h1>
            <h2 class="username"><%= @scan.twitter_detail.user_name%></h2>
            <p class="description"><%= @scan.twitter_detail.description%></p>
            <p class="location-website"><%=@scan.twitter_detail.location%> - <a href=<%=@scan.twitter_detail.website_url%>><%=@scan.twitter_detail.website_url%></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-3 col-xs-6">
    <div class="box">
      <div class="description">
        <p>Active Since</p>
        <p><%= format_datetime_for_dashboard(@scan.twitter_detail.account_created_at)%><p>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-6">
    <div class="box">
      <div class="icon">
        <span class="glyphicon glyphicon-bullhorn"></span>
      </div>
      <div class="description">
        <%= number_with_delimiter(@scan.twitter_detail.total_tweets, :delimiter => ',')%> Total Tweets
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-6">
    <div class="box">
      <div class="icon">
        <span class="glyphicon glyphicon-user"></span>
      </div>
      <div class="description">
        <%= number_with_delimiter(@scan.twitter_detail.followers_count, :delimiter => ',')%> Followers
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-6 col-sm-offset-3 col-md-offset-0">
    <div class="box">
      <div class="icon">
        <span class="glyphicon glyphicon-eye-open"></span>
      </div>
      <div class="description">
        Following <%= number_with_delimiter(@scan.twitter_detail.following_count, :delimiter => ',')%>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-6">
    <div class="box">
      <div class="icon">
        <span class="glyphicon glyphicon-star"></span>
      </div>
      <div class="description">
        <%= number_with_delimiter(@scan.twitter_detail.favorites_count, :delimiter => ',')%> Favorites
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 col-md-offset-0">
    <h1>Tweets Over Time</h1>
    <div class="row">
      <%= line_chart @scan.tweets.group_by_month(:tweet_time).count %>
    </div>
  </div>
</div>